/* Tab switch animation */
#tabbrowser-arrowscrollbox,
tab {
    transition: all 0.0s ease-in-out !important;
}

tab:not([zen-essential="true"]):not([multiselected="true"]) .tab-background {
    transition: all 0.1s ease-in-out !important;
    scale: 0 !important;
}

tab:not([zen-essential="true"]) .tab-background[selected] {
    scale: 0.95 !important;
}

#tabbrowser-tabpanels>hbox:not([zen-split="true"]):not(:has(.zen-glance-background)) {
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.35), filter 0.1s ease-in-out, opacity 0.35s ease-in-out !important;
    scale: 0.9 !important;
    opacity: 0 !important;
    filter: saturate(0) blur(20px) !important;
    left: -5vw !important;
}

#tabbrowser-tabpanels>hbox.deck-selected:not([zen-split="true"]) {
    scale: 1 !important;
    opacity: 1 !important;
    filter: saturate(1) !important;
    left: 0 !important;
}

/* website view animations */
#browser:not(:has(.zen-glance-background)) #tabbrowser-tabpanels {
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.35) !important;
}

/* trackpad gestures*/
tabpanels .browserStack browser {
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.1) 0.1s !important;
    border-radius: 0.75em !important;
}

/* Previous animation */
.browserStack:has(#historySwipeAnimationPreviousArrow:not([style="translate: none;"])) browser {
    scale: 0.95 !important;
    transform: translateX(3%) !important;
    border-radius: 2em !important;
}

/* Next animation */
.browserStack:has(#historySwipeAnimationNextArrow:not([style="translate: none;"])) browser {
    scale: 0.95 !important;
    transform: translateX(-3%) !important;
    border-radius: 2em !important;
}

/* smoothen trackpad gestures */
.browserStack browser[style*="transform: none"] {
    border-radius: 0.75em !important;
}
