/* media player expanded layout */
#zen-media-controls-toolbar::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.9) translateZ(0);
  filter: blur(15px);
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;
  background: linear-gradient(
    135deg,
    color-mix(in srgb, var(--zen-primary-color) 10%, black),
    var(--zen-primary-color),
    color-mix(in srgb, var(--zen-primary-color) 25%, white),
    var(--zen-primary-color),
    light-dark(#fffd, #000d),
    light-dark(#fffd, #000d),
    var(--zen-primary-color),
    color-mix(in srgb, var(--zen-primary-color) 50%, white),
    color-mix(in srgb, var(--zen-primary-color) 25%, white),
    var(--zen-primary-color),
    color-mix(in srgb, var(--zen-primary-color) 25%, black),
    light-dark(#fffd, #000d),
    color-mix(in srgb, var(--zen-primary-color) 10%, black),
    light-dark(#fffd, #000d),
    color-mix(in srgb, var(--zen-primary-color) 75%, black),
    color-mix(in srgb, var(--zen-primary-color) 50%, black),
    color-mix(in srgb, var(--zen-primary-color) 25%, black),
    color-mix(in srgb, var(--zen-primary-color) 10%, black),
    light-dark(#fffd, #000d)
  );

  background-size: 200% 200%;
}

#zen-media-controls-toolbar.playing {
  toolbaritem {
    background-color: light-dark(#fffd, #000d) !important;
  }

  padding: 16px 24px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);

  &::after {
    opacity: 1 !important;
    animation: animateGlow 5s cubic-bezier(0.1, 0.7, 0.5, 0.1) infinite;
  }

  &:hover::after {
    height: 150%;
  }
}

/* glow animation */
@keyframes animateGlow {
  0% {
    background-position: 0% 20%;
  }

  100% {
    background-position: 200% 20%;
  }
}
