#zen-workspaces-button {
    border-radius: 8px !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2) !important;
    padding: 3px !important;

    .subviewbutton {
        border-radius: 6px !important;
        transition: background-color 0.2s ease !important;
        font-size: 16px !important;
        filter: grayscale(0%) !important;
        --toolbarbutton-hover-background: color-mix(in srgb, var(--zen-branding-bg-reverse) 10%, transparent 90%) !important;

        &:hover {
            background-color: var(--toolbarbutton-hover-background) !important;
        }

        &:active {
            background-color: var(--toolbarbutton-active-background) !important;
        }

        &[active] {
            background-color: light-dark(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)) !important;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) !important;
            overflow: hidden !important;

            &::before {
                content: "" !important;
                position: absolute !important;
                width: 100% !important;
                height: 100% !important;
                margin-top: 50% !important;
                background: linear-gradient(0, rgba(0, 0, 0, 0.2), transparent) !important;
            }
        }
    }
}

/* remove the padding from the workspace */
toolbarbutton {
    padding: 0em !important;
}
